---
- hosts: all
  become: true
  become_user: root
  tasks:
    - name: Install Nala
      apt:
        name: nala
        state: latest
        update_cache: yes

    - name: Upgrade all packages
      nala:
        cache: yes    
        upgrade: yes
