---
- hosts: all
  become: true
  become_user: root
  tasks:
    - name: Install Nala
      apt:
        name: nala
        state: latest
        update_cache: yes

    - name: Update all packages using Nala
      nala:
        command: update
        args: -y
